

<h5> Welcome, <strong>{{user.nickname}}</strong>!</h5>

<div class="row">
      <h4>Create Bracket</h4>
      <div class="row">
            <form class="col s12">
                  <div class="row">
                        <div class="input-field col s4">
                              <input id="tournament" type="text" class="validate"></input>
                              <label for="tournament">Tournament Name</label>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-field col s4">
                              <input disabled value="Single Elimination Only" id="disabled" type="text" class="validate"></input>
                              <label for="type">Tournament Type</label>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-field col s4">
                              <input id="bracket_size" type="number" class="validate"></input>
                              <label for="bracket_size">Bracket Size</label>
                        </div>
                  </div>
                  <a id="render" class="waves-effect waves-light btn pink darken-4 modal-action modal-close">Generate Bracket</a>
            </form>
      </div>
</div>

<h3 id="tName"></h3>
<div id="bracketDiv"></div>