
<h5><strong>Foster Ave Tournament</strong></h5>


{{#each bracket}}
{{{FULL_BRACKET}}} 
{{/each}}



   {{!-- <form action="/user" method="GET">
          <input type="hidden" id="myField" name="DBA_NAME" value="" />
            <div  class="center-align"><button class="btn waves-effect waves-ligth" type="submit">Back</button></div>
          </form> --}}

<h3 id="tName"></h3>
<div id="bracketDiv"></div>
{{!-- <img src="/assets/images/foster.png" /> --}}

{{!-- <div id="bracketDiv"><div class="jQBracket lr" style="width: 430px;"><div class="bracket" style="height: 260px;"><div class="round" style="width: 100px; margin-right: 40px"><div class="match" style="height: 65px;"><div class="teamContainer" style="top: 5px;"><div class="team win" style="width: 100px;" data-teamid="0"><div class="label editable" style="width: 70px;">1</div><div class="score" style="width: 30px;">--</div></div><div class="team na" style="width: 100px;" data-teamid="1"><div class="label editable" style="width: 70px;">BYE</div><div class="score" style="width: 30px;">--</div></div><div class="connector" style="height: 32.5px; width: 20px; right: -22px; top: 12.75px; border-bottom: none;"><div class="connector" style="width: 20px; right: -20px; bottom: 0px;"></div></div></div></div><div class="match" style="height: 65px;"><div class="teamContainer" style="top: 5px;"><div class="team" style="width: 100px;" data-teamid="2"><div class="label editable" style="width: 70px;">5</div><div class="score editable" style="width: 30px;" data-resultid="result-1">--</div></div><div class="team" style="width: 100px;" data-teamid="3"><div class="label editable" style="width: 70px;">4</div><div class="score editable" style="width: 30px;" data-resultid="result-2">--</div></div><div class="connector" style="height: 18.75px; width: 20px; right: -22px; bottom: 26.5px; border-top: none;"><div class="connector" style="width: 20px; right: -20px; top: 0px;"></div></div></div></div><div class="match" style="height: 65px;"><div class="teamContainer" style="top: 5px;"><div class="team win" style="width: 100px;" data-teamid="4"><div class="label editable" style="width: 70px;">3</div><div class="score" style="width: 30px;">--</div></div><div class="team na" style="width: 100px;" data-teamid="5"><div class="label editable" style="width: 70px;">BYE</div><div class="score" style="width: 30px;">--</div></div><div class="connector" style="height: 32.5px; width: 20px; right: -22px; top: 12.75px; border-bottom: none;"><div class="connector" style="width: 20px; right: -20px; bottom: 0px;"></div></div></div></div><div class="match" style="height: 65px;"><div class="teamContainer" style="top: 5px;"><div class="team" style="width: 100px;" data-teamid="6"><div class="label editable" style="width: 70px;">Hello</div><div class="score editable" style="width: 30px;" data-resultid="result-3">--</div></div><div class="team" style="width: 100px;" data-teamid="7"><div class="label editable" style="width: 70px;">2</div><div class="score editable" style="width: 30px;" data-resultid="result-4">--</div></div><div class="connector" style="height: 18.75px; width: 20px; right: -22px; bottom: 26.5px; border-top: none;"><div class="connector" style="width: 20px; right: -20px; top: 0px;"></div></div></div></div></div><div class="round" style="width: 100px; margin-right: 40px"><div class="match" style="height: 130px;"><div class="teamContainer" style="top: 37.5px;"><div class="team" style="width: 100px;" data-teamid="0"><div class="label editable" style="width: 70px;">1</div><div class="score" style="width: 30px;">--</div></div><div class="team na" style="width: 100px;"><div class="label" style="width: 70px;">TBD</div><div class="score" style="width: 30px;">--</div></div><div class="connector" style="height: 51.25px; width: 20px; right: -22px; top: 26.5px; border-bottom: none;"><div class="connector" style="width: 20px; right: -20px; bottom: 0px;"></div></div></div></div><div class="match" style="height: 130px;"><div class="teamContainer" style="top: 37.5px;"><div class="team" style="width: 100px;" data-teamid="4"><div class="label editable" style="width: 70px;">3</div><div class="score" style="width: 30px;">--</div></div><div class="team na" style="width: 100px;"><div class="label" style="width: 70px;">TBD</div><div class="score" style="width: 30px;">--</div></div><div class="connector" style="height: 51.25px; width: 20px; right: -22px; bottom: 26.5px; border-top: none;"><div class="connector" style="width: 20px; right: -20px; top: 0px;"></div></div></div></div></div><div class="round" style="width: 100px; margin-right: 40px"><div class="match" style="height: 260px;"><div class="teamContainer np" style="position: absolute; top: 102.5px;"><div class="team na" style="width: 100px;"><div class="label" style="width: 70px;">TBD</div><div class="score" style="width: 30px;">--</div></div><div class="team na" style="width: 100px;"><div class="label" style="width: 70px;">TBD</div><div class="score" style="width: 30px;">--</div></div></div></div></div></div></div></div> --}}


{{!-- <form action="/bracket/{{user._json.sub}}" method="POST">
      <input type="text" id="ca" name={{user._json.sub}} onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Restaurant Name'"
      placeholder="Enter Restaurant Name" pattern="[^@#$%^*!()_+-={}|;:<>./?\x22\x5b\x5d\x5c]+" 1 Comment required>
      <div class="center-align"><button class="btn waves-effect waves-ligth" type="submit">Save</button></div>
</form> --}}

{{!-- <form action="/brackets" method="GET" align="center"  >
<input type="button" value="Save" onclick="outerHtml()"/>
</form> --}}

       


