<div class="row">
  <h2>Organize and run tournaments</h2>
  <p>Create brackets for your favorite sports and events!</p>

  <ul id="main-list">
    <li>
      <a class=" black-text waves-effect waves-light btn grey lighten-1" href="/about">About</a>
    </li>
    <li>
      <a class=" waves-effect waves-light btn pink darken-4" href="/create">Create Bracket</a>
    </li>
  </ul>
</div>