

<h5> Welcome, <strong>{{user.nickname}}</strong>!</h5>

{{#each bracket}}
<img style="width:20%" src={{PICTURE_URL}} />
<br />
<h4>Select your bracket</h4>
{{BRACKET_STRING}}

{{/each}}



<h3 id="tName"></h3>
<div id="bracketDiv"></div>