

<h5> Welcome, <strong>{{user.nickname}}</strong>!</h5>

{{#each bracket}}
<img style="width:20%" src={{PICTURE_URL}} />
<br />
<h4>Select your bracket</h4>

    <div class="card horizontal">
      <div class="card-image">
        <img src="./assets/images/soccer-field.JPG">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          {{!-- <p>{{BRACKET_STRING}}</p> --}}
          hola
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


{{/each}}



<h3 id="tName"></h3>
<div id="bracketDiv"></div>