body {
    background: url(/assets/images/soccer-field.JPG) no-repeat center center fixed;     
}

.translucent {
    color:black;
    opacity: .8;
}


.bg-color {
    background-color: #9CA491;
}

.brand-logo {
    padding-left: 5px;
    height: 60px;
}

@media (max-width: 600px) {
.brand-logo img {
      height: 50px;
    }
  }